@media (max-width: 1180px) {
    .Advantages{
        background: unset !important;
    }
    .ItemAdvantages{
        text-align: center;
        gap: 80px !important;
        flex-direction: column;

    }
    .ItemAdvantages-ImgWrapper{
        order: 1;
    }
}
@media (max-width: 890px) {
    .ItemAdvantages{
        gap: 50px;
        align-items: center;
    }
}