/* Подключение шрифта */
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
    url('fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Book.woff') format('woff'),
    url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
    url('fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Light.woff') format('woff'),
    url('fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
    url('fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Medium.woff') format('woff'),
    url('fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
    url('fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Demi.woff') format('woff'),
    url('fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
    url('fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Heavy.woff') format('woff'),
    url('fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* Общие правила */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    animation: opacity 1s;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
div,
nav{
    box-sizing: border-box;
}
.wrapper{
    min-width: 320px;
    margin: 0 auto;
}
.container{
    padding: 0 15px;
    max-width: 1164px;
    margin: 0 auto;
}
a, p, h1, h2, h3, button, span{
    font-family: 'Futura PT', serif;
    font-size: 24px;
    color: #16171B;
}
body{
    background-color: #ECF2F6;
}
.Link{
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding: 21px 36px;
    background-color: #5956E9;
    color: white;
    border-radius: 21px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 40px;
}
.Link::before{
    content: '';
    height: 73px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 218px;
    z-index: -1;
    background: #5956E9;
    opacity: 0.5;
    filter: blur(24px);
    border-radius: 21px;
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes overhang{
    from{
        margin-top: -1000px;
    }
    to{
        margin-top: 0;
    }
}