/* Сброс браузерных стилей */
*{
    margin: 0;
    padding: 0;
}
html{ scroll-behavior: smooth; animation: opacity 1s; }
body{ background-color: #ECF2F6;}
a{ text-decoration: none }
button{ cursor: pointer }
div, nav, section{ box-sizing: border-box }
ul { list-style-type: none }
/* Общие правила */
.page-wrapper{
    animation: overhang .7s;
    min-width: 360px;
    margin: 0 auto;
}
[class*="-container"]{
    padding: 0 15px;
    max-width: 1164px;
    margin: 0 auto;
}
a, p, h1, h2, h3, h4, button, span, label, input{
    font-family: 'Futura PT', serif;
    font-size: 24px;
    color: var(--text-color);
}
/* Стили для стандартной ссылки */
.link{
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding: 21px 36px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 21px;
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 80px;
}
.link::before{
    content: '';
    height: 73px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 218px;
    z-index: -1;
    background: var(--color-primary);
    opacity: 0.5;
    filter: blur(24px);
    border-radius: 21px;
}
.link:hover{
    transition: background-color .2s linear;
    background: var(--link-hover);
}
.link:active{
    background: var(--link-focus);
}
.title{
    font-size: 72px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    color: var(--text-color);
}