@import "fonts.css";
@import "vars.css";
/* Общие правила */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    animation: opacity 1s;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
div,
nav{
    box-sizing: border-box;
}
.PageWrapper{
    min-width: 320px;
    margin: 0 auto;
}
.Container{
    padding: 0 15px;
    max-width: 1164px;
    margin: 0 auto;
}
a, p, h1, h2, h3, button, span{
    font-family: 'Futura PT', serif;
    font-size: 24px;
    color: var(--text-color);
}
body{
    overflow-x: hidden;
    background-color: #ECF2F6;
}
.Link{
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding: 21px 36px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 21px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 40px;
}
.Link::before{
    content: '';
    height: 73px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 218px;
    z-index: -1;
    background: var(--color-primary);
    opacity: 0.5;
    filter: blur(24px);
    border-radius: 21px;
}
.Link:hover{
    transition: background-color .2s linear;
    background: var(--link-hover);
}
.Title{
    text-align: center;
}
/* Animations */
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes overhang{
    from{
        margin-top: -1000px;
    }
    to{
        margin-top: 0;
    }
}