/* Logo */
.Logo-Link{
    display: flex;
    align-items: center;
}
.Logo-ImageWrapper{
    position: relative;
}
.Logo-Img{
    padding-right: 23px;
}
.Logo-ImageWrapper::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 68px;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../images/logo/logo.svg");
    opacity: 0.5;
    filter: blur(9px);
}
.Logo-Title{
    padding-bottom: 15px;
}
.Logo-Title,
.Logo-Title > span{
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
}
.Logo-Title > span{
    font-weight: 600;
}
/* Page */
.PageWrapper{
    animation: overhang .7s;
}
/* Header */
.Header{
    position: relative;
    background: var(--logo) right 150px no-repeat,
                var(--blue-circle) right 250px top no-repeat,
                var(--red-circle) right top no-repeat,
                var(--purple-circle) right 410px top 370px no-repeat,
                var(--green-circle) right 250px no-repeat,
                var(--decor-line) left bottom no-repeat;
}
.Header > .Container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.Header-Content{
    flex: 1 1 auto;
}
.Header-Nav{
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header-TextRent{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}
.Header-TextRent > span{
    display: block;
    margin-bottom: 53px;
    font-weight: 500;
    font-size: 30px;
}
.Header-TextSup{
    text-transform: uppercase;
}
.Header-TextSup{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.Header-Title,
.Header-Title > span{
    margin: 20px 0;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
}
.Header-Title > span{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Header-TextAd{
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
.Header-Scroll{
    align-self: center;
}
.LinkScroll{
    display: block;
    width: 28px;
    height: 44px;
    background: url(" ../images/button/scroll.svg") no-repeat;
}
/* Try */
.Try{
    position: relative;
    margin: 130px auto 0;
    width: 737px;
    border-radius: 170px;
    background: #27272E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 70px;
}
.Try::after{
    position: absolute;
    content: '';
    z-index: -1;
    left: -10px;
    top: -10px;
    width: 757px;
    border-radius: 170px;
    height: 253px;
    background: var(--try-gradient);
}
.Try::before{
    content: '';
    position: absolute;
    width: 680px;
    height: 234px;
    border-radius: 170px;
    top: 0;
    left: 31px;
    z-index: -1;
    background: #27272E;
    opacity: 0.5;
    filter: blur(9px);
}
.Try-Slogan{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    color: white;
    margin-top: -30px;
}
.Try-Slogan > span{
    color: #FAB8C4;
    font-size: 57px;
    line-height: 83px;
    font-weight: 500;
}
/* Advantages */






















