@import "engine.css";
@import "fonts.css";
@import "vars.css";
@import "animations.css";
/* logo */
.logo__link{
    display: flex;
    align-items: center;
    position: relative;
}
.logo__link:hover{
    transform: scale(1.1);
}
.logo__link::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 68px;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--logo);
    opacity: 0.5;
    filter: blur(9px);
}
.logo__img{
    padding-right: 23px;
}
.logo__title{
    padding-bottom: 15px;
}
.logo__title,
.logo__title > span{
    font-size: 36px;
    font-weight: 400;
}
.logo__title > span{
    font-weight: 600;
}
/* header */
.header__decor{
    max-width: 5000px;
    background: var(--header-bg) right center no-repeat;
    height: 1000px;
}
.decor{
    position: absolute;
    left: 0;
    right: 0;
}
.decor__item{
    position: absolute;
    z-index: -3;
    border-radius: 50%;
    border: 47px solid transparent;
}
.decor__item_blue{
    width: 436px;
    height: 436px;
    border-color: #00aaff;
    top: -185px;
    right: 300px;
}
.decor__item_red{
    width: 340px;
    height: 340px;
    border-color: #ff6163;
    top: -120px;
    right: -120px;
}
.decor__item_green{
    width: 518px;
    height: 518px;
    border-color: #97cf26;
    top: 230px;
    right: -200px;
}
.decor__item_purple{
    width: 243px;
    height: 243px;
    border-color: #a169f7;
    top: 340px;
    right: 400px;
}
.header-container{
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.header__content{
    flex: 1 1 auto;
}
.header__nav{
    position: relative;
    z-index: 50;
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__text-rent{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}
.header__text-rent > span{
    display: block;
    margin-bottom: 53px;
    font-weight: 500;
    font-size: 30px;
}
.header__program{
    position: relative;
    z-index: 1;
}
.header__text-sup{
    text-transform: uppercase;
}
.header__text-sup{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.header__title,
.header__title > span{
    margin: 20px 0;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
}
.header__title > span{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__text-ad{
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
.header__scroll{
    position: relative;
    z-index: 1;
    align-self: center;
}
.link-scroll{
    display: block;
    width: 28px;
    height: 44px;
}
.link-scroll:hover svg path{
    fill: var(--color-primary);
}
.link-scroll:focus svg path{
    fill: var(--link-focus);
}
.header__bg_mobile{
    display: none;
}
/* try */
.try{
    position: relative;
    margin: 130px auto 0;
    width: 737px;
    border-radius: 170px;
    background: #27272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 70px;
}
.try::after{
    position: absolute;
    content: '';
    z-index: -2;
    left: -10px;
    top: -10px;
    width: 757px;
    border-radius: 170px;
    height: 253px;
    background: var(--try-gradient);
}
.try::before{
    content: '';
    position: absolute;
    width: 680px;
    height: 234px;
    border-radius: 170px;
    top: 0;
    left: 31px;
    z-index: -3;
    background: #27272e;
    opacity: 0.5;
    filter: blur(9px);
}
.try__slogan{
    z-index: 1;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    color: white;
    margin-top: -30px;
}
.try__slogan > span{
    color: #fab8c4;
    font-size: 57px;
    line-height: 83px;
    font-weight: 500;
}
.try__slogan > span::after{
    content: '';
    position: absolute;
    width: 737px;
    height: 333px;
    left: 0;
    bottom: -50px;
    z-index: -1;
    background: var(--advantages-decor) left no-repeat;
}
.try__image{
    z-index: 1;
}

/* advantages */
.advantages{
    background: var(--advantages-bg);
    padding-bottom: 180px;
    z-index: -3;
    position: relative;
}
.advantages__title{
    padding: 100px 0 115px;
}
.item-advantages{
    display: flex;
    gap: 200px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.item-advantages__info{
    position: relative;
    z-index: 2;
}
.item-advantages:nth-child(2n) .item-advantages__img-wrapper{
    order: -1;
}
.item-advantages::after,
.item-advantages::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.item-advantages_decor_red::after{
    width: 150px;
    height: 150px;
    background: #ff6163;
    right: -100px;
    bottom: -50px;
}
.item-advantages__title_free::after{
    content: 'бесплатно';
    text-transform: uppercase;
    color: var(--text-color);
    padding: 5px 7px;
    background: linear-gradient(96.03deg, #4cd7ad 18.67%, #17ff2f 109.14%);
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    border-radius: 25px;
    top: 125px;
    right: 3px;
}
.item-advantages_decor_blue::after{
    width: 192px;
    height: 192px;
    background: #00aaff;
    left: -330px;
    bottom: 150px;
}
.item-advantages_decor_line::after{
    height: 400px;
    top: -150px;
    border-radius: unset;
    z-index: 2;
    transform: rotate(10deg);
    background: var(--advantages-decor_line);
    width: 1000px;
    right: -375px;
}
.item-advantages_decor_purple-green::after{
    width: 107px;
    height: 107px;
    background: #a169f7;
    top: -130px;
    left: 169px;
    z-index: -1;
}
.item-advantages_decor_purple-green::before{
    width: 228px;
    height: 228px;
    background: #97cf26;
    right: -270px;
    top: 10px;
}
.item-advantages:last-child{
    gap: 150px;
}
.item-advantages:not(:last-child){
    margin-bottom: 150px;
}
.item-advantages__title{
    font-weight: 500;
    font-size: 64px;
}
.item-advantages__title + .item-advantages__text{
    margin-top: 10px;
}
.item-advantages__sub-title{
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 25px;
}
.item-advantages__text{
    padding-right: 10px;
    width: 500px;
    /*    остальные стили совпадают со стандартными в engine.css*/
}
/* price */
.price-container{
    box-sizing: content-box;
    background: var(--price-bg_bottom) left bottom no-repeat,
    #d8e1e8 var(--price-bg_top) right top no-repeat;
    border-radius: 144px;
    padding: 50px 165px;
}
.price__title{
    margin-bottom: 80px;
}
.price__list{
    display: flex;
    justify-content: center;
    gap: 27px;
    flex-wrap: wrap;
}
.price__item{
    padding: 50px 20px;
    border-radius: 28px;
    background-color: var(--color-secondary);
}
.price__item_bg_pink{
    background-color: var(--color-primary);
}
.price__cost{
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: white;
}
.price__cost > span{
    display: block;
    font-weight: 500;
    font-size: 64px;
    line-height: 82px;
    color: #fab8c4;
}
.price__item_bg_pink > .price__cost > span{
    color: white;
}
.price__text{
    font-size: 20px;
    line-height: 26px;
    color: #ababab;
}
.price__advice{
    margin-top: 70px;
    text-align: center;
}
.price__advice > span{
    display: block;
    font-weight: 450;
    font-size: 48px;
    line-height: 100%;
}
.price-link{
    font-weight: 500;
    font-size: 55px;
    line-height: 150%;
    color: var(--color-primary);
}
.price-link_mail{
    display: none;
}
/* work */
.work{
    padding-top: 154px;
    background: var(--work-bg) bottom -5px right 200px no-repeat,
                var(--work-bg_blue) left bottom 350px no-repeat,
                var(--work-bg_green) left 320px bottom -20px no-repeat,
                var(--work-bg_purple) left -50px bottom -50px no-repeat,
                var(--work-bg_red) left 420px bottom 420px no-repeat,
                var(--work-bg_white) right -50px bottom no-repeat;
}
.work__text-sup{
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.work__title{
    font-weight: 450;
    font-size: 64px;
}
.work__box{
    padding-top: 72px;
}
.work__top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:43px;
    margin-bottom: 240px;
}
.form-work{
    border-radius: 27px;
    background-color: #fff;
    padding: 41px 30px 61px;
}
.form-work__title{
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 20px;
}
.form-work__input{
    margin-top: 8px;
    padding: 15px 0 15px 24px;
    border-radius: 15px;
    border: 1px solid #d6e0e7;
    width: 95%;
}
.form-work__input:last-of-type{
    margin-bottom: 27px;
}
.work__image{
    display: block;
    margin: 0 auto 5px;
}
.work__text{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.form-work__btn{
    border: none;
    display: block;
    width: 101%;
}
.link.form-work__btn{
    margin-top: 41px;
}
.link.form-work__btn::before{
    content: none;
}
span + input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
label[for="input-checkbox"]{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
label[for="input-checkbox"]::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #d6e0e6;
    border-radius: 7px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
}
input[type="checkbox"]:checked + label[for="input-checkbox"]::before{
    background-image: url("../images/work/input.svg");
}
.work__bottom{
    padding-bottom: 30px;
}
.work__decor{
    display: none;
}
.work__bottom > .logo{
    margin: 0 0 97px 130px;
}
.work__text-sub{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
