:root{
    /* Colors */
    --СolorPrimary: #5956E9;
    --ColorSecondary: #27272E;
    --LinkHover: #3c3afa;
    --TextColor: #16171B;
    --TitleColor: #27272E;
    --ColorGradient: linear-gradient(95.98deg, #A169F7 1.6%, #00AAFF 24.24%, #FF6163 50.71%, #97CF26 68.48%);

    /* Images */

    /* Header */
    --HeaderBg: url("../images/header/header-bgBanner.svg");
    --RedCircle: url("../images/decoration/red.svg") ;
    --BlueCircle: url("../images/decoration/blue.svg");
    --PurpleCircle: url("../images/decoration/purple.svg");
    --GreenCircle: url("../images/decoration/green.svg");
    --DecorLine: url("../images/decoration/line.svg");
    --TryGradient: linear-gradient(97.23deg, #0FA6F7 19.02%, #FF6163 46.12%, #A169F7 68.04%, #97CF26 95.54%),
                    linear-gradient(0deg, #27272E, #27272E);
    --Logo: url("../images/logo/logo.svg");
    /* Advantages */
    --AdvantagesDecor: url("../images/advantages/decor.svg");
    --AdvantagesBg: url("../images/advantages/line.svg") center 0 no-repeat;
    --AdvantagesDecorLine: url("../images/decoration/lineBlue.svg") no-repeat;
    /* Price */
    --PriceBgTop: url("../images/price/priceBgTop.png");
    --PriceBgBottom: url("../images/price/priceBgBottom.png");
    /* Work */
    --WorkBg: url("../images/work/man.svg");
    --WorkBgBlue: url("../images/work/workBlueDecor.svg");
    --WorkBgRed: url("../images/work/workRedDecor.svg");
    --WorkBgGreen: url("../images/work/workGreenDecor.svg");
    --WorkBgWhite: url("../images/work/workWhiteDecor.svg");
    /* Link image*/
    --LinkImg: url("../images/button/scroll.svg") no-repeat;
}